 {% extends 'base.html' %}
{% block title  %}about
{% endblock title  %}

{%block body%}
    <h2>The owner of the site is abhishek mishra.
     This site is made by the help of django ...you can get the source from abhishek183 github account</h2>
     <<img src="/static/emoji.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
     <h1>Our Story</h1>
     <h2>Our Story
Website.com began in 2020. After years in the web hosting industry, we realized that it was near impossible for the average Jane or Joe to create their own website. Traditional web hosting services were simply too complicated, time consuming, and expensive to manage.

We created the Website.com Site Builder with the user's perspective in mind. We wanted to offer a platform that would require no coding skills or design experience. We keep it simple, so users can focus on creating an amazing website that reflects their brand. Best of all - it's free. You can get online, showcase your brand, or start selling products right away.

After seeing an increased need for ecommerce solutions, we developed one of the only fully-featured, free and commission-free online store builders, allowing business owners to launch their online business.</h2>
{%endblock body%}